.checkbox-btn {
	display: inline-block;
	margin: 0 5px 0 0;
	user-select: none;
	position: relative;
}
.checkbox-btn input[type=checkbox] {
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.checkbox-btn span {
	display: inline-block;
	cursor: pointer;
	padding: 0px 10px;
	line-height: 30px;
	border: 1px solid #999;
	border-radius: 4px;
	transition: background 0.2s ease;
}
/* Checked */
.checkbox-btn input[type=checkbox]:checked + span {
	color: #a3d1eb;
	background: #2d5cdc;
}

/* Focus */
.focused span {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
/* Hover */
.checkbox-btn:hover {
	color: #8899f0;
}

/* Active */
.checkbox-btn input[type=checkbox]:active:not(:disabled) + span {
	background: #687eed;
	color: #ffffff;
}
.checkbox-btn input[type=checkbox]:checked:disabled + span {
	background: #f7efdc;
}
